/* Коментар Ctrl+/ */

/*==== Базове скидання стіилів ====== */
/* == Drop headers margin == */
h1,
h2,
h3,
h4,
h5,
h6,
p  {
	margin: 0;
}
/* == Pict style == */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
button {
	cursor: pointer; /* Всі кнопки мають властивість  pointer*/ 
	border: none;
	border-radius: 4px;
}
/* == Drop list style ==*/
ul, ol {
	list-style: none;  /*прибрали булети*/
	font-style: normal;
	margin: 0; /*прибрали стандартні поля*/
	padding-left: 0; /*прибрали стандартні поля*/
}
a {
	text-decoration: none; /*прибрали підкреслення у всіх посилань*/
	/* color: inherit;*/
}
/* ======================== */

/* = Visually hidden CSS pattern = */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
  }


:root{
	--color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-navy-blue: #2e2f42;
	--color-green: #31d0aa;
	--color-slate: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-navy-blue-modal: #2e2f42;
	--color-grey: #2e2f42;

/* Header background, team card background */
	--color-white: #ffffff;
	--color-dairy: #fcfcfc;

 /* Others */
	--indent: 24px;
	--items: 3;
}

/*Base style*/
body{
    color: var(--color-slate);
	background-color: var(--color-white);

	 /*fonts*/
	font-family: 'Roboto', sans-serif;
	--primary-font: 'Roboto';
}
section{
	padding-top: 120px;
	padding-bottom: 120px;
	padding: 120px 0;
}
.link{
    color: currentColor;
	line-height: 1.5;
	letter-spacing: 0.02m;
}
.list{
	/**/
}
.container{ /*ставимо на кожну секцию через div*/
	width: 1158px; /*1128 px*/
	padding: 0 15px;
	margin: 0 auto; /*для центрування контенту*/
	/*margin-right: auto;*/
}
/* ====== Text Style ====== */

.hero-header{
	display: block;
	margin: 0px auto;
	margin-bottom: 48px;

	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 0.02em;
    color: var(--color-white);
    text-align: center;

	max-width: 496px;
	/*padding-top: 68px;*/
	
}
.header-section{	
	font-size: 36px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
    text-align: center;
    color: var(--color-navy-blue);
	
	/*padding-bottom: 72px;*/
	margin-bottom: 72px;


}
.header-small{
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
    text-align: left;
    color: var(--color-navy-blue);
	
	margin-bottom: 8px;
    
}
.text-body,
.text-body-footer, 
.text-body-adr{
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.text-body-medium{
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	font-style: normal;
	color: var(--color-navy-blue); 
}
.text-body-medium:hover,
.text-body-medium:focus,
.text-body-adr:hover,
.text-body-adr:focus{
	color: var(--color-ocean);
}
.text-small{
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
}
.text-link{
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;
	text-decoration: underline;
}
/* ====== ========= ====== */

/* ===== Header style  =======*/
.header{
    background-color: var(--color-white);
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 1px solid #e7e9fc
}
.header-nav{
	display: flex;
	align-items: center;
	margin-right: auto;
}
.nav-link{
	padding: 24px 0;
}
.header-container {
	display: flex;
	align-items: center;
	min-height: 72px;
}
.header-nav-list{
	display: flex;
	align-items: center;
	gap: 40px;
}
.header-adr-list{
	display: flex;
	align-items: right;
}
.header-adr-item{
	margin-right: 40px;
}
.header-adr-item:last-child{
	margin-right: 0;
}
.header-adr,
.header-adr-item{
    color: currentColor;
}

/* Section 1*/
.hero{
    background-color: var(--color-navy-blue);
	padding: 188px 0;
	
}
.button{
	display: block;
	margin: 0px auto;

	min-width: 169px;
	min-height: 56px;
	padding: 15px 31px;
	border-style: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	background-color: var(--color-iris);
	color: var(--color-white);

		/*font-family: inherit;*/
	font-family: 'Roboto', sans-serif;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
    text-align: center;

}
.button:hover,
.button:focus{
	background-color: var(--color-ocean);
}

/* [type] {} */

/* ===== For Logo =====*/ 
.logo{
    /* Studio */
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
 
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

	color: var(--color-iris);
	margin-right: 76px;
	
}
.logo-w{
	/*color: var(--color-iris);*/
	color: var(--color-navy-blue-modal);
}
.logo-f{
	/*color: var(--color-iris);*/
	color: var(--color-cloud);
}
/* ===== ====== =====*/


.feature-list {
	display: flex;
	gap: 24px;
	justify-content: space-between;
}

.feature-item{
	width: 264px;
}
.wedo{
	padding-top: 0;
}
.wedo-list{
	display: flex;
	gap: 24px;
	justify-content: space-between;
}
/*
.wedo-itm {
	width: calc((100% - 48px) / 3);
	/*(від загальної ширини екрану віднімаємо суму відступів між пунктами і ділимо це на кількість пунктів списку) (можна використовувати width: calc((100% - 3 * 16px) / 3) або flex-basis: calc((100% - 48px) / 3) або flex-basis: calc((100% - 3 * 16px) / 3))*/


/* ==== For Team ====*/
.team{
	background-color: #f4f4fd;
}
.team-list{
	background-color: var(--color-white);
	text-align: center;
	border-radius: 0px 0px 4px 4px;
	text-align: center;
}
.team-list-head{
	text-align: center;
}
.team-card{
	padding: 32px 16px;
}
.team-txt{
	text-align: center; 
}

.list-team{
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

/*=== Footer styles ======*/
.footer{
    background-color: var(--color-navy-blue);
	color: var(--color-cloud);
	padding: 100px 0;
}

.logo-ft{
	display: inline-block;
	margin-bottom: 16px;
}

.footer-txt{
    color: var(--color-cloud);
	max-width: 264px;
}
/*=========================*/

/*=== For POrtfolio page ===*/

.portfolio{
	padding-top: 0;
}
/*Filter portfolio style*/
.filter-list{
	display: flex;
	justify-content: center;
	gap: 24px;
	/*margin-top: 96px;*/
	margin-bottom: 72px;
}
.flrt{
	background-color: var(--color-cloud);
	color: var(--color-iris);

	border: 1px solid #E7E9FC;
	border-radius: 4px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;

	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;

	padding: 12px 24px;
}
.flrt:hover,
.flrt:focus{
	background-color: var(--color-ocean);
	color: var(--color-white);
	border: 1px solid transparent;

}
/*===========================*/

.portfolio{
	padding: 96px 0 120px;
}

/*Filter portfolio list - auto ajust*/
.portfolio-list /*Ставит карточки по ширине с не более с отступом между ними*/
	{
	display: flex;
	flex-wrap: wrap;
  	/*gap:var(--indent);*/
	column-gap: 24px;
	row-gap: 48px;
	/*gap: 24px;*/
	padding: 0;

	}
/*.prtf-itm{
	width: calc((100% - 48px) / 3);
	border: 1px solid #e7e9fc;
	border-top: none;
}	*/
.portfolio-card{
	border: 1px solid #e7e9fc;
	border-top: none;

	/*padding-top: 32px ;
	padding-bottom: 32px;
	padding-left: 16px;*/

	padding: 32px 16px;
}

.portfolio-list-itm
{
	flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
